@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

* {
  font-family: "Open Sans", sans-serif;

  --color-grey: #747474;
  --color-lightgrey: #b0b0b0;
  --color-lightergrey: rgba(112, 112, 112, 0.1);
  --color-blue: #4791ff;
  --color-red: #ed7593;
  --color-green: #2cd994;
  --color-amber: #ffa560;
}

[onClick] {
  cursor: pointer;
}

body {
  background-color: #f1f1f1;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  font-size: 0.8em;
  color: var(--color-grey);
}

p {
  margin: 0;
}

h3 {
  text-align: center;
}

.text-alert {
  color: var(--color-red);
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.navbar div .navbar-link {
  font-weight: 700;
  font-size: 0.8em;
  color: var(--color-blue);
  text-decoration: none;
  margin-left: 1em;
  outline: none;
}

.navbar.footer {
  font-size: 0.8em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#app-container {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
  align-content: center;
  min-height: calc(100vh - 20px);
}

#status_view {
  display: flex;
  align-items: center;
}

#new_bed_modal,
#new_task_modal,
#credits_modal,
#handover_failed_modal,
#reset_modal
 {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(202, 202, 202, 0.8);
  padding: 1em;
}

.view {
  transition: display 0.2s linear;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.helper {
  margin: 3em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.6;
  font-size: 1.2em;
  text-align: justify;
}

.helper div:first-child {
  border: 2px dashed var(--color-blue);
  border-radius: 15px;
  padding: 0.5em;
  max-width: 400px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}
.helper p,
.helper p a,
.helper p small {
  font-family: "Patrick Hand", cursive;
  padding-bottom: 0.5em;
}

.helper h2 {
  font-family: "Patrick Hand", cursive;
  margin-top: 0;
}

.helper .highlight {
  font-weight: 700;
  font-size: 0.6em;
  color: var(--color-blue);
  text-transform: uppercase;
}

.hidden,
#status_view.hidden {
  display: none;
}

.no-tasks {
  display: flex;
  flex-direction: column;
  opacity: 0.5;
  align-items: center;
  margin: 2em;
  font-weight: 600;
}

.no-tasks img {
  width: 3em;
  margin-bottom: 0.5em;
}

.note-label {
  display: block;
  text-align: right;
  margin-right: 1em;
}

.modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-height: calc(100vh - 30px);
  max-width: 400px;
  width: calc(100% - 2em);
  margin: 10px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  z-index: 9999;
}

.modal img { margin-top: 1em;}

input[type="text"],
input[type="number"] {
  font-size: large;
  border: 3px solid transparent;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: inset 4px 4px 7px #d9d9d9, inset -4px -4px 7px #ffffff;
  transition: border 0.2s linear;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border: 3px solid var(--color-blue);
}

.credits {
  margin: 2em;
  text-align: center;
}

.modal input {
  text-align: center;
  margin: 10px;
  padding: 0.5em;
  box-sizing: border-box;
  width: calc(100% - 20px);
}

.modal .option-picker {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}

.modal .option-picker .option {
  text-align: center;
  font-weight: 600;
  opacity: 70%;
  padding: 1em;
  border-radius: 15px;
  border: 1px solid transparent;
  min-width: 3em;

  transition: box-shadow 0.2s linear, background-color 0.2s linear;
}

.modal .option-picker .option.active {
  opacity: 100%;
  color: var(--color-blue);
  border: 1px solid #e6e6e6;

  border: 2px solid var(--color-blue);
  background: #ffffff;
  box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;

}

.modal .time-picker-container {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}

.modal .time-picker-container .time-picker {
  text-align: center;
}
.modal .time-picker-container .time-picker input[type="number"] {
  max-width: 2.5em;
  font-size: xx-large;
  color: #747474;
}

.modal .handover-failed p{
    margin: 0 1em 0 1em;
}

.modal-footer {
  display: flex;
  justify-content: space-between;

  margin: 2em;
  margin-left: 3em;
  margin-right: 3em;
  font-weight: 700;
  color: var(--color-blue);
}

.moment-button {
  border-radius: 50%;
  border: 2px solid var(--color-red);
  background: linear-gradient(145deg, #ffffff, #d9d9d9);
  box-shadow: 5px 5px 9px #cdcdcd, -5px -5px 9px #ffffff;
}

.margin-footer p {
  padding: 1em;
}

.pill {
  background: var(--color-lightgrey);
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 15px;
  color: #ffffff;
  font-size: xx-small;
  font-weight: 400;
  white-space: nowrap;
}

.pill-green {
  background: var(--color-green);
}
.pill-amber {
  background: var(--color-amber);
}
.pill-red {
  background: var(--color-red);
}
.pill-alert {
  background: transparent;
  color: var(--color-red);
  font-weight: 700;
}

.priority-button,
.handover-button {
  border-radius: 2em;
  width: 1em;
  height: 1em;
  margin: 1em;
  padding: 0.5em;
  color: var(--color-lightgrey);
  text-align: center;
  line-height: 1em;
  font-weight: 700;
  background: linear-gradient(145deg, #ffffff, #d9d9d9);
  box-shadow: 4px 4px 8px #cdcdcd, -4px -4px 8px #ffffff;
}

.priority-button.active,
.handover-button.active {
  color: var(--color-red);
  background: linear-gradient(145deg, #d9d9d9, #ffffff);
  box-shadow: 4px 4px 8px #cdcdcd, -4px -4px 8px #ffffff;
}

.handover-button {
  width: 25px;
  height: 25px;
}
.handover-button img {
  width: 2em;
}

.handover-options {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  font-weight: 700;
  color: var(--color-blue);
}
.handover-options p {
  border-radius: 2em;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 0.8em;
  border: 1px solid var(--color-blue);
  background: linear-gradient(145deg, #ffffff, #d9d9d9);
  box-shadow: 3px 3px 5px #cdcdcd, -3px -3px 5px #ffffff;
}

.handover-options p.sharing {
  background: linear-gradient(145deg, #d9d9d9, #ffffff);
  box-shadow: 3px 3px 5px #cdcdcd, -3px -3px 5px #ffffff;
}

.handover-options p.shared {
  border: 1px solid var(--color-green);
  color: var(--color-green);

  background: #ffffff;
  box-shadow: inset 3px 3px 6px #d9d9d9, inset -3px -3px 6px #ffffff;
}

.handover-item {
  width: 100%;
  margin: 0 1em 0 1em;
}
.handover-item h4 {
  margin-bottom: 0.2em;
  color: var(--color-blue);
  border-bottom: 2px solid var(--color-lightergrey);
}

.handover-item ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.handover-item ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0 0.5em 0;
  border-bottom: 1px solid var(--color-lightergrey);
}

.handover-item ul li span {
  text-align: right;
  min-width: 75px;
}

.handover-item ul li small,
.handover-item ul li span small {
  width: 100%;
  color: var(--color-lightgrey);
  text-align: right;
}

.status-bar {
  flex: 1;
  margin: 1em 1em 1em 1em;
  height: 1.5em;
  border-radius: 2em;
  display: flex;
  overflow: hidden;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
}

.status-bar span {
  width: 0%;
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 0.8em;
}
.status-bar span.status-overdue {
  background-color: white;
  color: var(--color-red);
  line-height: 1em;
  border: 2px dotted var(--color-red);
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.status-bar span.status-alert {
  background-color: var(--color-red);
}

.status-bar span.status-warn {
  background-color: var(--color-amber);
}

.status-bar span.status-normal {
  background-color: var(--color-green);
}

.status-bar span.status-any {
  background-color: var(--color-lightgrey);
}

.svg {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  width: 200px;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  pointer-events: none;
  z-index: 999;
}

.svg .svg-label {
  text-align: center;
  text-transform: uppercase;
  color: var(--color-lightgrey);
  font-size: 0.8em;
  font-weight: 700;
}

.task-item,
.history-item {
  margin: 0 1.5em 1.5em 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s linear;
}

.task-item {
  height: 34px;
}

.task-item.hide {
  opacity: 0;
  height: 0px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.task-item {
  border-bottom: 1px solid rgba(202, 202, 202, 0.8);
}

.task-item .item-name,
.history-item .item-name {
  flex: 1;
  align-self: center;
}
.task-item .item-due {
  margin-right: 1em;
}

.task-item .item-due img {
  width: 1.5em;
  margin: 1em 1em 0 0;
  position: relative;
  float: left;
  bottom: 0.7em;
}

.task-item .item-due .pill {
  line-height: 3em;
}

.task-item .item-complete img {
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 3px 3px 6px #d9d9d9, -3px -3px 6px #ffffff;
}

.history-item .item-complete-date {
  padding: 0 2em 0 1em;
  width: 80px;
}

.task-item .item-edit,
.history-item .item-undo,
.history-item .item-remove {
  font-size: 0.8em;
  font-weight: 700;
  color: var(--color-blue);
}

.widget::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.widget {
  position: relative;
  flex-basis: calc(50% - 20px);
  max-width: 180px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;

  box-sizing: border-box;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
}

.widget-expanded {
  z-index: 10;
  position: absolute;
  max-width: 800px;
  height: calc(90vh - 3em);
  top: 0;
  left: 0;
  right: 0;
  margin-top: 2.5em;

  box-sizing: border-box;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}

.widget-expanded .widget-header {
  display: flex;
  justify-content: space-between;
}

.widget-icon {
  transition: opacity 1s linear;
}

.widget-expanded .widget-header .widget-icon img {
  margin: 0.5em;
  padding: 0.1em;
  width: 3em;
}

.widget-expanded .widget-footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 6em);
  bottom: 0;
  margin: 2em;
  margin-left: 3em;
  margin-right: 3em;
  font-weight: 700;

  color: var(--color-blue);
}

.widget-expanded .widget-footer p,
.modal .modal-footer p {
  font-size: 0.8em;
}

.widget.widget-empty {
  opacity: 0;
}

.widget:active {
  border-radius: 15px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}
.widget .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 5px;
}

.widget .widget-header,
.widget .widget-footer {
  display: flex;
}

.widget .widget-footer {
  position: absolute;
  width: calc(100% - 1.5em);
  bottom: 10px;
}

.widget .widget-header .widget-title {
  flex: 1;
  text-align: right;
  padding-right: 1em;
  font-weight: 600;
  font-size: 1.2em;
}

.widget-title p {
  margin-top: 0.25em;
}

.widget .widget-header .widget-icon img,
.widget .widget-footer .widget-icon img {
  max-width: 2em;
}

.widget-body {
  max-height: calc(90vh - 13em);
  overflow-y: auto;
}

.widget-body .task-summary ul {
  list-style: none;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
  overflow: hidden;
}

.widget-body .task-summary ul li.widget-task {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-right: 1em;
  margin-bottom: 0.2em;
}

.widget-body .task-summary ul li.widget-task .widget-task-name {
  text-align: right;
  margin-right: 0.2em;
  white-space: nowrap;
  overflow: hidden;
}

.widget-body .task-summary ul li.widget-task .widget-task-due {
  text-align: right;
}

.widget-totals {
  flex: 1;
  text-align: right;
  font-weight: 600;
  font-size: 1.2em;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.widget-totals .widget-total {
  margin: 0 0.2em 0 0.2em;

  height: 2em;
  width: 2em;
  line-height: 2em;
  display: block;
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 0.6em;
  border-radius: 2em;
  background-color: var(--color-grey);
}

.widget-total.widget-total-overdue {
  color: var(--color-red);
  background-color: white;
  border: 2px dotted var(--color-red);
}
.widget-total.widget-total-alert {
  background-color: var(--color-red);
}
.widget-total.widget-total-warn {
  background-color: var(--color-amber);
}
.widget-total.widget-total-normal {
  background-color: var(--color-green);
}

.new-bed-label {
  padding-right: 1em;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  color: var(--color-blue);
}
.new-bed-label p {
  font-size: 0.8em;
  font-weight: 700;
}

.new-bed-label img {
  width: 70px;
  height: 70px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
